@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Inter";
}
.App {
  background-color: rgb(3, 0, 31);
  width: 100%;
  min-height: 100vh;
  color: white;
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  padding: 0px 2rem;
}
.sidebar {
  min-width: 290px;
  max-width: 290px;
  border-right: 1px solid rgb(100, 100, 100);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main {
  width: calc(100vw - 300px);
  min-height: calc(100vh -14rem);
  display: flex;
  flex-direction: column;
  margin: 3rem 4rem;
  align-items: center;
}
.message_box {
  margin: 1rem auto;
  width: fit-content;
}
.quriy {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.upperSide {
  padding: 1rem;
}
.new_chat {
  padding: 10px;
  border-radius: 4px;
  outline: none;
  border: none;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #5a4bff;
  color: white;
  width: 200px;
  justify-content: center;
  cursor: pointer;
}
.new_chat img {
  width: 20px;
}
.quriy {
  background-color: transparent;
  border: 1px solid rgb(100, 100, 100);
  color: white;
  border-radius: 4px;
  padding: 10px;
  text-transform: capitalize;
  width: 100%;
  cursor: pointer;
}
.lower_btn_div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.lower_btn_div button {
  background-color: #5a4bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: fit-content;
  outline: none;
  margin: auto;
  padding: 10px;
  border: none;
  width: 200px;
  border-radius: 4px;
  cursor: pointer;
}
.lowerSide {
  border-top: 1px solid rgb(100, 100, 100);
  padding: 2rem;
}
.chat_footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input_div {
  display: flex;
  align-items: center;
  gap: 0px;
  background: rgba(28, 30, 58, 1);
  padding: 1rem;
  border-radius: 5px;
  width: 80%;
}
.input_div input {
  padding: 10px;
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  font-weight: 400 !important;
}
.input_div button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.chat_div{
  display: flex;
  gap: 10px;
  margin: 4rem;
  width: 80%;
  align-items: flex-start;

}
.chat_div img{
  width: 50px;
  /* border-radius: 40px !important; */
  /* object-fit: cover; */
}
.cha_response{
  background: rgba(28, 30, 58, 1);
  padding: 1rem;
  border-radius: 5px;
}
pre{
  text-wrap: balance;
}